.col-md-6.col-md-offset-3
	.row
		.panel.panel-default
			.panel-heading
				%h1 Editar Pin
			.panel-body
				%strong.center Imagem Atual
				%br/
				= image_tag @pin.image.url(:medium)
				%br/
				= render 'form'
